<!DOCTYPE html>
<html ng-app="wordBot">
  <meta charset='UTF-8'>
  <title>Word Bot</title>
  <link rel="stylesheet" href="">
  <head>
  </head>
  <body ng-controller="wordController">
    <di>
    <div>
      <ul>
        <li ng-repeat="item in words"><span ng-click="tocall">{{item.word}}</span>: <span ng-hide="tab">{{item.definition}}</span></li>
      </ul>
    </div>

    <div>
    </div>

    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-mocks.js"></script>
    <script src="js/vendor/angular-route.js"></script>
    <script src="js/custom/app.js"></script>

  </body>
</html>